/*
 * © 2024 Microglot LLC
 *
 * SPDX-License-Identifier: CC-BY-SA-4.0
 */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
